{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    [
      "inline-react-svg",
      {
        "svgo": {
          "plugins": [
            {
              "name": "preset-default",
              "params": {
                "overrides": {
                  "cleanupIDs": false
                }
              }
            }
          ]
        }
      }
    ],
    [
      "module-resolver",
      {
        "alias": {
          "@": "./src"
        }
      }
    ],
    [
      "styled-components",
      {
        "ssr": true
      }
    ]
  ]
}
